.idea/.idea.PrimeTweenSupport.dir/.idea
Benchmarks/Library
Benchmarks/Temp
Benchmarks/UserSettings
Benchmarks/Logs
Benchmarks/obj
*.csproj
Benchmarks/.idea/.idea.Benchmark/.idea
*.sln
packages-lock.json
SceneTemplateSettings.json